{% extends 'blog/base.html' %}

{% block content %}

<div class="text-center">
	<a href="{{refer}}" class="btn btn-danger" role="button">Go Back</a>
</div>

<div class="container">

        <div class="row">

            <div class="col-lg-8">

                
                <h1>{{post.title}}</h1>

                <p class="lead">
                    by : <a href="">{{post.author}}</a>
                </p>

                <hr>

                {% if post.published_date %}

                <p><span class="glyphicon glyphicon-time"></span> Posted Date: {{post.published_date}}</p>

                {% else %}

                <p> Draft Post </p>
                <p><span class="glyphicon glyphicon-time"></span> Last Saved: {{post.created_date}}<a href="{% url 'post_list' %}" class="btn btn-primary" role="button" style="margin-left: 35%;">Publish Post</a></p>

                {% endif %}

                <hr>

                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <p class="lead">{{post.text|linebreaksbr}}</p>

                <hr>

                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <div class="media">
                    <a class="pull-left" href="">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start
                            <small>Auust 25,9:30</small>
                        </h4>
                        Cras sit amet nibh libero,
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start
                            <small>August 25 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero
                        <!-- Nested Comment -->
                        <br>
                        <br>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start
                                    <small>August 25 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>

{% endblock %}